.Aviso {
    visibility: visible;
    color: red;
}
.nave {
    background-color: #08105b;
    height: 100px;
}
.nomlog {
    font-family: 'Trebuchet MS';
}

.subnave {
    background-color: #7c0b0b;
    height: 30px;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.checkbox {
    /* display: none; */
}


.menulateral {
    background-color: rgb(31, 41, 55);
    padding: 20px;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    position: fixed;
    top: 60px;
    bottom: 0px;
    margin-left: -70%;
    transition: .3s ease all;
    z-index: 2;
    overflow-y: scroll;
}

.menulateral.active {
    margin-left: 0;
}

li:hover {
    list-style: none;
    text-decoration: none;
    color: white;
}


div {
    margin: 0;
    padding: 0;
}
.botoncierre{
    background:none;
    border:none;
    font-size:18px;
    font-weight:bold;
    margin: 25px 0;
    padding-left: 15px;
    color: rgb(255, 56, 56);
    transition: .3s ease all;
}
.botoncierre:hover {
    color: #f00;
}

.titulomenu {
    font-size: 22px;
    padding: 0 15px;
    background: rgb(60 161 213);
    border-radius: 0 20px 20px 0;
    letter-spacing: 2px;
}

#logo {
    margin: 35px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.mGrid button {
    background-color: black;
    border-color: black;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    color: white;
}

.ultimomenu {
    margin-bottom: 150px;
}

li a {
    text-decoration: none;
    color: gray;
    font-size:18px;
}

    li a:hover {
        text-decoration: none;
        color: #338EFF;
    }

.baseform {
    text-align: center;
}

.baseform h2 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.formulario {
    padding: 10px;
    border-color: black;
    margin: 20px;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
}

input.formulario {
  padding: 12px 20px;
  color: #000 !important;
}

select.formulario {
  background: #3578cf;
}

.formularioblock {
    padding: 10px;
    width: 90%;
    border-color: black;    
    border-radius: 5px;
    background-color:lightgray;
    font-family: 'Trebuchet MS';
}
.formularioProc {
    padding: 10px;
    width: 90%;
    border-color: black;   
    border-radius: 5px;
    font-family: 'Trebuchet MS';
    color: #000;
}
.formularioProc[disabled="disabled"] {
  color: #ccc !important;
}
.formularioProc3 {
    padding: 10px;
    width: 94%;
    border-color: black;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
}
.formularioProc2 {
    padding: 10px;
    width: 90%;
    border-color: black;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
    margin-bottom:10px;
}
.formularioFin {
    padding: 10px;
    width: 90%;
    border-color: black;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
    color:green;
    font-size:18px;
}
.formularioFinCuatro {
    padding: 10px;
    width: 90%;
    border-color: black;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
    color: black;
    font-size: 18px;
}
.formularioDeuda {
    padding: 10px;
    width: 90%;
    border-color: black;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
    color: red;
    font-size: 18px;
}
.formularioProcDOS {
    padding: 10px;    
    border-color: black;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
}
.formularioDos {
    padding: 10px;
    border-color: black;
    margin: 20px;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
}

.form-row table tbody tr th {
  color: #fff !important;
}

.botonsubmit {
  background-color: rgb(60, 161, 213) !important;
  font-family: 'Trebuchet MS';
  color: white;
  border-radius: 12px;
  padding: 10px 22px;
  font-weight: bold;
}
.botonsubmitDOS {
    background-color: black;
    border-color: black;
    width: 20%;
    font-family: 'Trebuchet MS';
    color: white;
    border-radius: 5px;
    padding: 10px;
    float:right;
    margin:5px;
}
.botonsubmitTRES {
  background-color: rgb(60, 161, 213) !important;
  font-family: 'Trebuchet MS';
  color: white;
  border-radius: 12px;
  padding: 10px 22px;
  font-weight: bold;
}
.botonsubmitTRESTRES {
  background-color: red;
  border-color: black;
  font-family: 'Trebuchet MS';
  color: white;
  border-radius: 12px;
  padding: 10px 22px;
  font-weight: bold;
}
.botonsubmitTRESDOS {
  background-color: rgb(60, 161, 213) !important;
  font-family: 'Trebuchet MS';
  color: white;
  border-radius: 12px;
  padding: 10px 22px;
  font-weight: bold;
  margin: 0 20px;
}
.botonsubmitCUATRO {
    background-color: greenyellow;
    border-color: black;
    width: 22%;
    font-family: 'Trebuchet MS';
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.botonedit {
    background-color: #252850;
    border-color: white;
    width: 40px;
    height: 10px;
    font-family: 'Trebuchet MS';
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    text-decoration: none;
}
.mGrid {
    background-color: #4f4f4f !important;
    min-width: 1000px !important;
    margin: 0 auto;
}

  .mGrid td {
    padding: 14px;
    color: #272424;
    text-align: center;
    border-radius: 20px;
  }

  .mGrid th {
    padding: 4px 16px;
    color: #fff;
    background: #68768d;
    font-size: 0.9em;
    text-align: center;
    height: 40px;
  }

  .col a {
    color: #fff;
  }

table tbody tr

.mGrid .alt {
    background: #fcfcfc url(grd_alt.png) repeat-x top;
}

.mGrid .pgr {
    background: #75bcb5;
}

.mGrid .pgr table {
    margin: 5px 0;
}

.mGrid .pgr td {
    border-width: 0;
    padding: 0 6px;
    font-weight: bold;
    color: #fff;
    line-height: 12px;
}

.mGrid .pgr a {
    color: #666;
    text-decoration: none;
}

.mGrid .pgr a:hover {
    color: #000;
    text-decoration: none;
}



input[type="file"] {
    display: inherit;
}


.fijador {
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

.fijadordos {
    margin: 0;
    position: fixed;
    width: 100%;
    top: 99px;
    z-index: 1;
    overflow: hidden;
}

.panelbloqueadorizq {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 60px;
    bottom: 0px;
    left: 0;
    display: flex;
    transition: left;
    z-index: 1;
}

.checkbox:checked ~ .panelbloqueadorizq {
    left: 0;
}

#cajacontenedor {
    margin-top: 130px;
    position: relative;
    background-color: white;
    width: 100%;
    padding-left:15px;
    padding-right:15px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
}

.centrador {
    text-align: center;
}

center a {
    display: none;
}
div[style^="height: 65px"] {
    display: none;
}
div[style^="opacity: 0.9"] {
    display: none;
}
div[style^="font-family: helvetica neue"] {
    display: none;
}
div[style^="font-family: lucida grande"] {
    display: none;
}
div[style^="font-family: segoe ui"] {
    display: none;
}
div[style^="font-size: 9pt"] {
    display: none;
}
h2{
    color:black;
}
.tabla{
    width:60%;
    margin-left:30%;
}

.direcverif {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in;
    background-color: white;
}

.delivery:checked ~ .direcverif {
    height: auto;
}

.direccion {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in;
    background-color: white;
}

.deliveryno:checked ~ .direccion {
    height: auto;
}

.metodo {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in;
    background-color: white;
}
.metodoDOS {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in;
    background-color: white;
}



.deliverysi:checked ~ .metodo {
    height: auto;
}

.metodoTRES {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in;
    background-color: white;
}

.pickup:checked ~ .metodo {
    height: auto;
}
.pickupDOS:checked ~ .metodoDOS {
    height: auto;
}
.pickupTRES:checked ~ .metodoTRES {
    height: auto;
}

.datospago {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in;
    background-color: white;
}

.pagodig:checked ~ .datospago {
    height: auto;
}


.deliveryno:checked ~ .metodo {
    height: auto;
}

.botonconfirma {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in;
    background-color: white;
}

.pagodig:checked ~ .botonconfirma {
    height: auto;
}

.pagoefectivo {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in;
    background-color: white;
}

.efectivo:checked ~ .pagoefectivo {
    height: auto;
}

formpago {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in;
    background-color: white;
}

.pagodig:checked ~ .formpago {
    height: auto;
}

.titulocierre {
    text-decoration: none;
    font-family: 'Trebuchet MS';
    color: black;
    font-weight: bold;
}

.opcionescierre {
    text-decoration: none;
    font-family: 'Trebuchet MS';
    color: dimgray;
    white-space: pre-wrap;
}

.nombrecierre {
    text-decoration: none;
    font-family: 'Trebuchet MS';
    color: red;
    font-weight: bold;
}

.busqueda {
    margin: 10px 10px 10px 10px;
    height: 60px;
    border-radius: 20px 0px 0px 20px;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    border-color: black;
}
#botonbuscar {
    margin: 10px 10px 10px -15px;
    height: 60px;
    width: 60px;
    border-radius: 0px 20px 20px 0px;
    font-size: 20px;
    border-color: black;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: rgb(30, 41, 59);
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}
.card-header {
    padding: 20px;
    border-bottom: 1px solid #fff;
    margin: 20px 0;
    text-align: center;
    width: 80%;
    color: #fff; 
    font-size: 24px;
}
.container {
    width: 80%;
    margin: 40px auto;
}

ul ul {
    list-style: none;
    font-weight: bold;
    font-size: 12px;
    
}
ul ul ul {
    list-style: none;
    font-weight: normal;
    font-size: 10px;
    color:white;
}
ul {
    list-style: none;
    color: #73B1FF;
}
.cierre{
    margin-bottom:50px;
}
.desplegable {
    position: relative;
    clear:both;
}
#barra .fa {
    text-decoration: none;
    color: white;
    background-color: black;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 4.5;
    margin-left: -14px;
    border-radius: 0px 20px 20px 0px;
}

    #barra .fa:hover {
        background-color: gray;
    }

    #barra .fa:active {
        background-color: white;
    }
nav div {
    float: left;
}
#obser{
    float:left;
}


ul .li-title {
    font-size: 20px;
    padding-left: 25px;
    color: rgb(60 161 213);
}

ul ul {
    padding-left: 35px;
}

ul ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    padding-left: 20px;
    transition: .3s ease all;
}
ul ul li a:hover {
    color: rgb(60 161 213);
}

tr th a {
  color: #fff !important;
}

tr td {
  color: #fff !important;
}

input[type='date'], input[type="text"], input[type='number'] {
  color: #000 !important;
}